.currentImage {
    width: 100%;
}

.editModalWarp {
    max-width: 300px;
    margin: 10px 0 0 0;
}
.edit-btn:hover{
    opacity: 0.5;
}
.edit-btn{
    background-color: white;
    cursor: pointer;
    color: blue !important;
    padding: 3px 10px 3px 10px;
    font-weight: 900;
    margin: 10px 0 0 0;
    border: 1px #afafaf solid !important;
}
.edit-inputs {
    padding: 5px 0 5px 0;
    outline: 0;
    border: 1px #afafaf solid;
    color: #777777;
    width: -webkit-fill-available !important;
    text-align-last: center;
    margin: 5px 0 0 0;
    border-radius: 10px;
}

.makeStyles-paper-3 {
    outline: 0;
    border: 10px rgb(232 232 232) solid !important;
}
.x-icon{
    visibility: hidden;
    position: absolute;
    right: 5px;
    top: 37px;
    font-weight: 600;
    font-size: 20px;
}
@media only screen and (max-width: 320px) {
    .x-icon{
        visibility: visible;
    }
}