.add-pic-input {
    display: none;
}

.upload-pic-warp {
    border: 1px #afafaf solid;
    border-radius: 10px;
    margin: 5px 0 0 0;
    text-align: center;
    padding: 10px 0 0 0;
    background-color: white;
    font-weight: 700;
}

.upload-profle-pic-label {
    cursor: pointer;
    color: blue;
    padding: 3px 10px 3px 10px;
    font-weight: 900;
    margin: 10px 0 0 0;
}

.upload-profle-pic-label:hover {
    opacity: 0.5;
}

.currentImage {
    margin: 8px 0 30px 0;
}
.spinner-round{
    width: 30px;
    top: -10px;
    right: 66px;
}