.navbar {
    border: 1px solid #e2e2e2;
    border-top: none;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
    height: 90px;
    color: black;
    left: 0;
}

.navbar a {
    color: black;
}

.welcome-user {
    display: flex;
}

.user-namee {
    font-weight: 500 !important;
    color: aqua;
}

.navlinkk {
    font-size: 29px;
    margin: 0 3% 0 3%;
}

@media only screen and (max-width: 728px) {
    .navlinkk {
        font-size: 19px;
    }
}
.logOut-icon{
    cursor: pointer;
}